<!-- <p>test2 works!</p> -->

<!-- <html>

<body>
    <div *ngIf="response">
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>price</th>
            </tr>
            <tr *ngFor="let products of response">
                <td>{{products.id}}</td>
                <td>{{products.title}}</td>
                <td>{{products.price}}</td>
            </tr>
        </table>
    </div>
</body>

</html> -->
<html>
<button (click)="Emit()">Emit Data</button>

</html>