<html>

<span>
    <button class="btn btn-warning"><a routerLink="Login">Sign Up Form</a></button>&nbsp;
    <button class="btn btn-warning"><a routerLink="Json">JsonData</a></button>&nbsp;
    <button class="btn btn-warning"><a routerLink="Server">Server</a></button>&nbsp;
    <button class="btn btn-warning"><a routerLink="Admin">Admin</a></button>&nbsp;
    <button class="btn btn-warning"><a routerLink="Loginuser">LOGIN</a></button>&nbsp;
    <button class="btn btn-danger"><a routerLink="Logoutuser">Logout</a></button>

    <hr>
</span>

</html>
<!-- <router-outlet></router-outlet> -->